Checks: 'clang-analyzer-*,
         cppcoreguidelines-*,
         performance-*,
         readability-*,
         portability-*,
         misc-*,
         cert-*,
         -readability-identifier-length
        '
